:root {
    --bg-color: #141413;
    --text-color: #afaca1;
    --title-color: #c9c8bf;
    --contrast-color: #bdbbb2;
}

.color-scheme-night {
    --bg-color: #141413;
    --text-color: #afaca1;
    --title-color: #c9c8bf;
    --contrast-color: #bdbbb2;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family:
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans,
        Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    line-height: 1.7;
    margin: 0;
    padding: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

b {
    font-weight: 900;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--title-color);
    margin-top: 24px;
    margin-bottom: 16px;
    text-shadow: 2px 2px 4px #000;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h4,
h5,
h6 {
    font-size: 1.2em;
}

a {
    color: var(--text-color);
    text-decoration: none;
    border-bottom: 2px solid var(--contrast-color);
}

a:hover {
    color: var(--contrast-color);
    border-color: var(--contrast-color);
}

ul {
    background: var(--bg-color);
    border-radius: 10px;
    padding: 10px;
    list-style: none;
    display: flex;
    gap: 1rem;
}

ol {
    padding-left: 30px;
}

code {
    background-color: var(--contrast-color);
    border-radius: 6px;
    color: var(--text-color);
    padding: 0.4em 0.6em;
    font-family: "Courier New", monospace;
}

pre code {
    padding: 0;
}

pre {
    background-color: var(--contrast-color);
    border-radius: 6px;
    padding: 1em;
    overflow: auto;
    box-shadow: 2px 2px 6px var(--contrast-color);
}

blockquote {
    background-color: var(--contrast-color-color);
    border-left: 4px solid var(--contrast-color);
    padding-left: 2em;
    margin-left: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 0.5em;
    color: var(--text-color);
    font-style: italic;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 6px;
    border: 3px solid var(--contrast-color-color);
    box-shadow: 3px 3px 6px var(--contrast-color-color);
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: var(--bg-color);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--bg-color);
    border-radius: 6px;
    border: 3px solid var(--contrast-color-color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--bg-color);
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--bg-contrast-color) var(--bg-color);
}

::-webkit-scrollbar-corner {
    background: var(--bg-color);
}
