:root {
    --bg-color: #141413;
    --text-color: #afaca1;
    --title-color: #c9c8bf;
    --contrast-color: #b89b6f;
}

.color-scheme-night {
    --bg-color: #141413;
    --text-color: #afaca1;
    --title-color: #c9c8bf;
    --contrast-color: #bdbbb2;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family:
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans,
        Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    line-height: 1.7;
    margin: 0;
    padding: 20px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

b {
    font-weight: 900;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--title-color);
    margin-top: 24px;
    margin-bottom: 16px;
    text-shadow: 2px 2px 4px #000;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h4,
h5,
h6 {
    font-size: 1.2em;
}

a {
    color: var(--text-color);
    text-decoration: none;
    border-bottom: 2px solid var(--contrast-color);
}

a:hover {
    color: var(--contrast-color);
    border-color: var(--contrast-color);
}

ul {
    background: var(--bg-color);
    border-radius: 10px;
    padding: 10px;
    list-style: none;
    display: flex;
    gap: 1rem;
    align-items: center;
}

ol {
    padding-left: 30px;
}

code {
    background-color: var(--contrast-color);
    border-radius: 6px;
    color: var(--text-color);
    padding: 0.4em 0.6em;
    font-family: "Courier New", monospace;
}

pre code {
    padding: 0;
}

pre {
    background-color: var(--contrast-color);
    border-radius: 6px;
    padding: 1em;
    overflow: auto;
    box-shadow: 2px 2px 6px var(--contrast-color);
}

blockquote {
    background-color: var(--contrast-color-color);
    border-left: 4px solid var(--contrast-color);
    padding-left: 2em;
    margin-left: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 0.5em;
    color: var(--text-color);
    font-style: italic;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 6px;
    border: 3px solid var(--contrast-color-color);
    box-shadow: 3px 3px 6px var(--contrast-color-color);
}

.li-img {
    display: flex;
    align-items: center;
    gap: 5px;
}

.nav-img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50px;
}

.nav-ul {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nav-ul-main-div {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav-ul-main-div > li > a {
    width: 100%;
}

.nav-ul-main-div > li > a:before {
    content: "";
    display: block;
    border-bottom: 10px solid var(--contrast-color);
    width: 0;
    /*position: absolute;*/
    left: 0;
    transition: ease-in-out 200ms;
}

.nav-ul-main-div > li > a:hover:before {
    width: 100%;
}

.nav-expand-icon {
    display: none;
}

.nav-expand-icon > img {
    cursor: pointer;
}

.nav-close {
    display: none;
    margin: 0 0 0 auto;
    padding-right: 1.5rem;
}

.open {
    display: block !important;
}

.nav-r-opened {
    display: flex !important;
    background: black;
    position: fixed;
    inset: 0;
    flex-direction: column;
    align-items: normal;

    padding-left: 20%;
    padding-right: 15%;
    padding-top: 10%;
    list-style: upper-roman !important;

    -webkit-animation: scale-up-tr 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: scale-up-tr 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.nav-r-opened > li {
    -webkit-animation: tracking-in-expand 0.7s
        cubic-bezier(0.215, 0.61, 0.355, 1) both;
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: var(--bg-color);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--bg-color);
    border-radius: 6px;
    border: 3px solid var(--contrast-color-color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--bg-color);
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--bg-contrast-color) var(--bg-color);
}

::-webkit-scrollbar-corner {
    background: var(--bg-color);
}

@media only screen and (max-width: 450px) {
    .nav-expand-icon {
        display: flex;
    }
    .nav-ul-main-div {
        display: none;
    }
}

/*@media only screen and (max-width: 400px) {
    .nav-expand-icon {
        display: flex;
    }
    .nav-ul-main-div {
        display: none;
    }
}*/

@media only screen and (max-width: 240px) {
    .nav-ul {
        flex-wrap: nowrap;
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2025-11-4 17:5:3
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-tr
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-tr {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }
}
@keyframes scale-up-tr {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2025-11-4 17:9:21
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shadow-pop-tl
 * ----------------------------------------
 */
@-webkit-keyframes shadow-pop-tl {
    0% {
        -webkit-box-shadow:
            0 0 #3e3e3e,
            0 0 #3e3e3e,
            0 0 #3e3e3e,
            0 0 #3e3e3e,
            0 0 #3e3e3e,
            0 0 #3e3e3e,
            0 0 #3e3e3e,
            0 0 #3e3e3e;
        box-shadow:
            0 0 #3e3e3e,
            0 0 #3e3e3e,
            0 0 #3e3e3e,
            0 0 #3e3e3e,
            0 0 #3e3e3e,
            0 0 #3e3e3e,
            0 0 #3e3e3e,
            0 0 #3e3e3e;
        -webkit-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0);
    }
    100% {
        -webkit-box-shadow:
            -1px -1px #3e3e3e,
            -2px -2px #3e3e3e,
            -3px -3px #3e3e3e,
            -4px -4px #3e3e3e,
            -5px -5px #3e3e3e,
            -6px -6px #3e3e3e,
            -7px -7px #3e3e3e,
            -8px -8px #3e3e3e;
        box-shadow:
            -1px -1px #3e3e3e,
            -2px -2px #3e3e3e,
            -3px -3px #3e3e3e,
            -4px -4px #3e3e3e,
            -5px -5px #3e3e3e,
            -6px -6px #3e3e3e,
            -7px -7px #3e3e3e,
            -8px -8px #3e3e3e;
        -webkit-transform: translateX(8px) translateY(8px);
        transform: translateX(8px) translateY(8px);
    }
}
@keyframes shadow-pop-tl {
    0% {
        -webkit-box-shadow:
            0 0 #3e3e3e,
            0 0 #3e3e3e,
            0 0 #3e3e3e,
            0 0 #3e3e3e,
            0 0 #3e3e3e,
            0 0 #3e3e3e,
            0 0 #3e3e3e,
            0 0 #3e3e3e;
        box-shadow:
            0 0 #3e3e3e,
            0 0 #3e3e3e,
            0 0 #3e3e3e,
            0 0 #3e3e3e,
            0 0 #3e3e3e,
            0 0 #3e3e3e,
            0 0 #3e3e3e,
            0 0 #3e3e3e;
        -webkit-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0);
    }
    100% {
        -webkit-box-shadow:
            -1px -1px #3e3e3e,
            -2px -2px #3e3e3e,
            -3px -3px #3e3e3e,
            -4px -4px #3e3e3e,
            -5px -5px #3e3e3e,
            -6px -6px #3e3e3e,
            -7px -7px #3e3e3e,
            -8px -8px #3e3e3e;
        box-shadow:
            -1px -1px #3e3e3e,
            -1px -1px #3e3e3e,
            -2px -2px #3e3e3e,
            -3px -3px #3e3e3e,
            -4px -4px #3e3e3e,
            -5px -5px #3e3e3e,
            -6px -6px #3e3e3e,
            -7px -7px #3e3e3e;
        -webkit-transform: translateX(8px) translateY(8px);
        transform: translateX(8px) translateY(8px);
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2025-11-4 17:21:47
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}
@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}
